.vscode/**
.vscode-test/**
gtirb_lsp_server/test/**
gtirb_lsp_server/__pycache__/**
gtirb_lsp_server/.pytest_cache/**
gtirb_lsp_server/gtirb_lsp_server.egg-info/**
out/test/**

src/**
.gitignore
.yarnrc
.coveragerc
.eslintignore
.flake8
.gitlab-ci.yml
.isort.cfg
.pre-commit-config.yaml
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
